.movie-detail-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    figure {
        width: 100%;
        height: 440px;
        background-color: black;
        margin: 0;
        padding: 0;
        
        > img {
            height: 100%;
            object-fit: contain;
            margin: auto;
            display: block;
        }
    }

    section {
        display: block;
        padding: 0px 50px;
        text-align: center;
        max-width: 600px;

        h1 {
            font-size: xx-large;
        }
    }
}